{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react-hooks", "import", "eslint-plugin-import"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "import/no-unused-modules": [1, { "unusedExports": true }],
        "import/no-unresolved": "error"
    },
    "settings": {
        "import/extensions": [".ts", ".tsx"],
        "import/resolver": {
            "typescript": {}
        }
    }
}
