.footer {
  width: 100%;
  height: 6rem;
  display: flex;
  background-image: url("../../img/footer.jpg");
  &Container {
    width: 100%;
    padding: 2rem;
  }
  &Title {
    font: {
      family: Georgia;
      style: normal;
      size: 2.4rem;
      weight: 700;
    }
    color: azure;
    line-height: 110%;
    letter-spacing: 0.175rem;
    margin-bottom: 3rem;
  }
}
