.search {
  width: 100%;
  display: flex;
  flex-direction: column;

  &Title {
    font: {
      family: Georgia;
      style: normal;
      size: 2.4rem;
      weight: 400;
    }
    color: azure;
    line-height: 110%;
    letter-spacing: 0.175rem;
  }

  &Option {
    display: flex;
    margin: 1rem;
    align-items: center;

    p {
      font: {
        family: Georgia;
        style: normal;
        size: 1.4rem;
        weight: 200;
      }
      color: azure;
      line-height: 110%;
      letter-spacing: 0.175rem;
      margin-right: 1rem;
    }
  }

  input {
    width: 60%;
    height: 3rem;
    margin: 1rem;
    background-color: black;
    color: azure;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
